body {
  font-family: var(--font-family);
  color: var(--text-color);
  padding: 2rem;
  background-color: var(--surface-ground);
  min-height: 100vh;
}

.purple {
  color: var(--primary-color);
}

.callout {
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: max-content;
  font-weight: bold;
  margin: auto;
}

.p-menubar {
  max-width: 1800px;
  margin: 0 auto;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

main {
  max-width: 1800px;
  margin: 2rem auto;
}

footer {
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

#app-name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

#app-desc {
  text-align: center;
  margin-bottom: 2rem;
}

.detail-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

div.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
  margin-left: 0px;
  margin-right: 0px;
}

div.metadata div {
  grid-column: span 3;
}

div.past-searches div {
  grid-column: span 3;
}

div.objects div,
div.scenes div {
  grid-column: span 12;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 8rem);
}

#intro-heading {
  font-size: 3rem;
}

#intro p {
  font-size: 1.5rem;
}

.detail-p {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
}

#intro h2,
#intro p {
  margin-bottom: 2rem;
}

.p-inputtext {
  min-width: 16rem;
}

#intro input {
  margin-top: 0.3rem;
}
